In [774]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [775]:
data_training = pd.read_csv("train_u6lujuX_CVtuZ9i.csv")
data_testing = pd.read_csv("test_Y3wMUE5_7gLdaTN.csv")

In [776]:
data_train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [777]:
# Remove first columns
data_train = data_training.drop("Loan_ID",axis=1)
data_test = data_testing.drop("Loan_ID",axis=1)
# split feature and target
X_train = data_train.drop("Loan_Status",axis=1)
y_train = data_train["Loan_Status"]

In [778]:
X_train.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [779]:
# handle with missing data 
features = list(X_train.columns)
def missing_value(data):
    for feature in features :
        if feature in ["Gender","Married","Dependents","Self_Employed"]:
            data[feature]=data[feature].fillna(method="ffill")
        if feature in ["LoanAmount","Loan_Amount_Term","Credit_History"]:
            data[feature]=data[feature].fillna(data[feature].mean())
    return data

In [780]:
# transform feature
feature_object = [feature for feature in features if X_train[feature].dtypes =="object" ]
def transform_feature(data):
    data_1 = data.drop(feature_object,axis=1)
    data_2 = pd.get_dummies(data[feature_object],drop_first=True)
    # Concatenate data
    data_transform = pd.concat([data_1,data_2],axis=1)
    return data_transform

In [781]:
#StandardScaler data 
from sklearn.preprocessing import StandardScaler
st = StandardScaler()

In [786]:
# predict model 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.ensemble import AdaBoostClassifier
forest =RandomForestClassifier(n_estimators=50)
log = LogisticRegression(C= 0.01)
model = AdaBoostClassifier(base_estimator=log,n_estimators=30,learning_rate=0.1)

In [783]:
# change y label to numberic
y_train = y_train.apply(lambda x :1. if x =="Y" else 0)
# build model with data training
#handle missing
X_train = missing_value(X_train)
# Transform features
X_train = transform_feature(X_train)
#StandardScaler data
X_train_st = st.fit_transform(X_train)
# build model
model.fit(X_train_st,y_train)
# Accuracy on training data
y_pre = model.predict(X_train_st)
print(accuracy_score(y_train,y_pre))

0.809446254072

In [784]:
#predict on test data
X_test = missing_value(data_test)
X_test = transform_feature(X_test)
X_test_st = st.fit_transform(X_test)
y_predict = model.predict(X_test_st)

In [785]:
Sample_submission = pd.DataFrame(y_predict,index=data_testing["Loan_ID"],columns=["Loan_Status"])

In [771]:
Sample_submission["Loan_Status"] = Sample_submission["Loan_Status"].apply(lambda x : "Y" if x ==1 else "N")

In [772]:
Sample_submission.to_csv("Sample_submission.csv")

In [773]:
Sample_submission

         Loan_Status
Loan_ID
LP001015           Y
LP001022           Y
LP001031           Y
LP001035           Y
LP001051           Y
LP001054           Y
LP001055           Y
LP001056           N
LP001059           Y
LP001067           Y
LP001078           Y
LP001082           Y
LP001083           Y
LP001094           N
LP001096           Y
LP001099           Y
LP001105           Y
LP001107           Y
LP001108           Y
LP001115           Y
LP001121           Y
LP001124           Y
LP001128           Y
LP001135           Y
LP001149           Y
LP001153           N
LP001163           Y
LP001169           Y
LP001174           Y
LP001176           Y
...              ...
LP002856           Y
LP002857           Y
LP002858           N
LP002860           Y
LP002867           Y
LP002869           Y
LP002870           Y
LP002876           Y
LP002878           Y
LP002879           N
LP002885           Y
LP002890           Y
LP002891           Y
LP002899           Y
LP002901           N
LP002907           Y
LP002920           Y
LP002921           N
LP002932           Y
LP002935           Y
LP002952           Y
LP002954           Y
LP002962           Y
LP002965           Y
LP002969           Y
LP002971           Y
LP002975           Y
LP002980           Y
LP002986           Y
LP002989           Y

[367 rows x 1 columns]